<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-navcontrolled bs-hidden-xs" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}





{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				
				
		
				{BEGIN asearch_link}
		<li><a href="pac_search.php" {$advsearchlink_attrs}>Búsqueda avanzada</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">Show search panel</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="pac_export.php"  {$exportlink_attrs}>Exportar resultados</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="pac_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Importar</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}




</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				

{BEGIN container_breadcrumbs}
<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}




			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class="    "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"> 
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


			</div>
			<div class="bs-center bs-screenwidth bs-minwidth">
				

{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Añadir nuevo</a>
	{END add_link}

	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
	
	</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin pull-right text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	Displaying <span>{$firstrecord}</span> - <span>{$lastrecord}</span> of <span>{$records_found}</span>
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Página para imprimir">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Scope:</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="pac_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Print all pages
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="pac_print.php?{$crosstable_attrs}" name="printScope" checked>
							Print this page
						</label>
					</div>
				</div>
							</div>
		</li>
		<li class="divider" role="separator"></li>

		
				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Resultados por página:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Print</button>			
		</li>
	</ul>	
</span>

{END print_friendly}



</div>
{END container_gridinfo}






</div>{END container_gridcontrols}



{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=descripcionProducto]:before {
		content: "{$label pac descripcionProducto}";
	}
	.bs-gridcell[data-field=unidadesAnuales]:before {
		content: "{$label pac unidadesAnuales}";
	}
	.bs-gridcell[data-field=costoUnitarioPromedio]:before {
		content: "{$label pac costoUnitarioPromedio}";
	}
	.bs-gridcell[data-field=unidadesMensuales]:before {
		content: "{$label pac unidadesMensuales}";
	}
	.bs-gridcell[data-field=programadoMensual]:before {
		content: "{$label pac programadoMensual}";
	}
	.bs-gridcell[data-field=disponibleMensual]:before {
		content: "{$label pac disponibleMensual}";
	}
	.bs-gridcell[data-field=unidadMedida]:before {
		content: "{$label pac unidadMedida}";
	}
	.bs-gridcell[data-field=cantidadUnidadMedida]:before {
		content: "{$label pac cantidadUnidadMedida}";
	}
	.bs-gridcell[data-field=mes]:before {
		content: "{$label pac mes}";
	}
	.bs-gridcell[data-field=cuatrimerstre]:before {
		content: "{$label pac cuatrimerstre}";
	}
	.bs-gridcell[data-field=descripcionCuatrimestre]:before {
		content: "{$label pac descripcionCuatrimestre}";
	}
	.bs-gridcell[data-field=solicitante]:before {
		content: "{$label pac solicitante}";
	}
	.bs-gridcell[data-field=tipoDeCompra]:before {
		content: "{$label pac tipoDeCompra}";
	}
	.bs-gridcell[data-field=renglon]:before {
		content: "{$label pac renglon}";
	}
	.bs-gridcell[data-field=codigoSiges]:before {
		content: "{$label pac codigoSiges}";
	}
	.bs-gridcell[data-field=codigopresentacion]:before {
		content: "{$label pac codigopresentacion}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

									
																		
									{BEGIN solicitante_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$solicitante_class}">
									{BEGIN solicitante_fieldheader}
																				<span {$solicitante_orderlinkattrs}>
											{$label pac solicitante}
										</span>
									{END solicitante_fieldheader}
									</th>
									{END solicitante_fieldheadercolumn}
									
									
									
									
									{BEGIN tipoDeCompra_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$tipoDeCompra_class}">
									{BEGIN tipoDeCompra_fieldheader}
																				<span {$tipoDeCompra_orderlinkattrs}>
											{$label pac tipoDeCompra}
										</span>
									{END tipoDeCompra_fieldheader}
									</th>
									{END tipoDeCompra_fieldheadercolumn}
									
									
									
									
									{BEGIN renglon_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$renglon_class}">
									{BEGIN renglon_fieldheader}
																				<span {$renglon_orderlinkattrs}>
											{$label pac renglon}
										</span>
									{END renglon_fieldheader}
									</th>
									{END renglon_fieldheadercolumn}
									
									
									
									
									{BEGIN codigoSiges_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$codigoSiges_class}">
									{BEGIN codigoSiges_fieldheader}
																				<span {$codigoSiges_orderlinkattrs}>
											{$label pac codigoSiges}
										</span>
									{END codigoSiges_fieldheader}
									</th>
									{END codigoSiges_fieldheadercolumn}
									
									
									
									
									{BEGIN codigopresentacion_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$codigopresentacion_class}">
									{BEGIN codigopresentacion_fieldheader}
																				<span {$codigopresentacion_orderlinkattrs}>
											{$label pac codigopresentacion}
										</span>
									{END codigopresentacion_fieldheader}
									</th>
									{END codigopresentacion_fieldheadercolumn}
									
									
									
									
									{BEGIN descripcionProducto_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$descripcionProducto_class}">
									{BEGIN descripcionProducto_fieldheader}
																				<span {$descripcionProducto_orderlinkattrs}>
											{$label pac descripcionProducto}
										</span>
									{END descripcionProducto_fieldheader}
									</th>
									{END descripcionProducto_fieldheadercolumn}
									
									
									
									
									{BEGIN unidadMedida_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$unidadMedida_class}">
									{BEGIN unidadMedida_fieldheader}
																				<span {$unidadMedida_orderlinkattrs}>
											{$label pac unidadMedida}
										</span>
									{END unidadMedida_fieldheader}
									</th>
									{END unidadMedida_fieldheadercolumn}
									
									
									
									
									{BEGIN unidadesAnuales_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$unidadesAnuales_class}">
									{BEGIN unidadesAnuales_fieldheader}
																				<span {$unidadesAnuales_orderlinkattrs}>
											{$label pac unidadesAnuales}
										</span>
									{END unidadesAnuales_fieldheader}
									</th>
									{END unidadesAnuales_fieldheadercolumn}
									
									
									
									
									{BEGIN cantidadUnidadMedida_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$cantidadUnidadMedida_class}">
									{BEGIN cantidadUnidadMedida_fieldheader}
																				<span {$cantidadUnidadMedida_orderlinkattrs}>
											{$label pac cantidadUnidadMedida}
										</span>
									{END cantidadUnidadMedida_fieldheader}
									</th>
									{END cantidadUnidadMedida_fieldheadercolumn}
									
									
									
									
									{BEGIN unidadesMensuales_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$unidadesMensuales_class}">
									{BEGIN unidadesMensuales_fieldheader}
																				<span {$unidadesMensuales_orderlinkattrs}>
											{$label pac unidadesMensuales}
										</span>
									{END unidadesMensuales_fieldheader}
									</th>
									{END unidadesMensuales_fieldheadercolumn}
									
									
									
									
									{BEGIN costoUnitarioPromedio_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$costoUnitarioPromedio_class}">
									{BEGIN costoUnitarioPromedio_fieldheader}
																				<span {$costoUnitarioPromedio_orderlinkattrs}>
											{$label pac costoUnitarioPromedio}
										</span>
									{END costoUnitarioPromedio_fieldheader}
									</th>
									{END costoUnitarioPromedio_fieldheadercolumn}
									
									
									
									
									{BEGIN programadoMensual_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$programadoMensual_class}">
									{BEGIN programadoMensual_fieldheader}
																				<span {$programadoMensual_orderlinkattrs}>
											{$label pac programadoMensual}
										</span>
									{END programadoMensual_fieldheader}
									</th>
									{END programadoMensual_fieldheadercolumn}
									
									
									
									
									{BEGIN disponibleMensual_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$disponibleMensual_class}">
									{BEGIN disponibleMensual_fieldheader}
																				<span {$disponibleMensual_orderlinkattrs}>
											{$label pac disponibleMensual}
										</span>
									{END disponibleMensual_fieldheader}
									</th>
									{END disponibleMensual_fieldheadercolumn}
									
									
									
									
									{BEGIN mes_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$mes_class}">
									{BEGIN mes_fieldheader}
																				<span {$mes_orderlinkattrs}>
											{$label pac mes}
										</span>
									{END mes_fieldheader}
									</th>
									{END mes_fieldheadercolumn}
									
									
									
									
									{BEGIN cuatrimerstre_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$cuatrimerstre_class}">
									{BEGIN cuatrimerstre_fieldheader}
																				<span {$cuatrimerstre_orderlinkattrs}>
											{$label pac cuatrimerstre}
										</span>
									{END cuatrimerstre_fieldheader}
									</th>
									{END cuatrimerstre_fieldheadercolumn}
									
									
									
									
									{BEGIN descripcionCuatrimestre_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$descripcionCuatrimestre_class}">
									{BEGIN descripcionCuatrimestre_fieldheader}
																				<span {$descripcionCuatrimestre_orderlinkattrs}>
											{$label pac descripcionCuatrimestre}
										</span>
									{END descripcionCuatrimestre_fieldheader}
									</th>
									{END descripcionCuatrimestre_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
	
	
	
		</td>	
	{END listIcons_column}	

	
	

	{BEGIN solicitante_fieldcolumn}
	<td class="bs-gridcell {$solicitante_class}"  data-field=solicitante {$rowstyle} {$recordattrs}>
		{$solicitante_value}
	</td>
{END solicitante_fieldcolumn}


	{BEGIN tipoDeCompra_fieldcolumn}
	<td class="bs-gridcell {$tipoDeCompra_class}"  data-field=tipoDeCompra {$rowstyle} {$recordattrs}>
		{$tipoDeCompra_value}
	</td>
{END tipoDeCompra_fieldcolumn}


	{BEGIN renglon_fieldcolumn}
	<td class="bs-gridcell {$renglon_class}"  data-field=renglon {$rowstyle} {$recordattrs}>
		{$renglon_value}
	</td>
{END renglon_fieldcolumn}


	{BEGIN codigoSiges_fieldcolumn}
	<td class="bs-gridcell {$codigoSiges_class}"  data-field=codigoSiges {$rowstyle} {$recordattrs}>
		{$codigoSiges_value}
	</td>
{END codigoSiges_fieldcolumn}


	{BEGIN codigopresentacion_fieldcolumn}
	<td class="bs-gridcell {$codigopresentacion_class}"  data-field=codigopresentacion {$rowstyle} {$recordattrs}>
		{$codigopresentacion_value}
	</td>
{END codigopresentacion_fieldcolumn}


	{BEGIN descripcionProducto_fieldcolumn}
	<td class="bs-gridcell {$descripcionProducto_class}"  data-field=descripcionProducto {$rowstyle} {$recordattrs}>
		{$descripcionProducto_value}
	</td>
{END descripcionProducto_fieldcolumn}


	{BEGIN unidadMedida_fieldcolumn}
	<td class="bs-gridcell {$unidadMedida_class}"  data-field=unidadMedida {$rowstyle} {$recordattrs}>
		{$unidadMedida_value}
	</td>
{END unidadMedida_fieldcolumn}


	{BEGIN unidadesAnuales_fieldcolumn}
	<td class="bs-gridcell {$unidadesAnuales_class}"  data-field=unidadesAnuales {$rowstyle} {$recordattrs}>
		{$unidadesAnuales_value}
	</td>
{END unidadesAnuales_fieldcolumn}


	{BEGIN cantidadUnidadMedida_fieldcolumn}
	<td class="bs-gridcell {$cantidadUnidadMedida_class}"  data-field=cantidadUnidadMedida {$rowstyle} {$recordattrs}>
		{$cantidadUnidadMedida_value}
	</td>
{END cantidadUnidadMedida_fieldcolumn}


	{BEGIN unidadesMensuales_fieldcolumn}
	<td class="bs-gridcell {$unidadesMensuales_class}"  data-field=unidadesMensuales {$rowstyle} {$recordattrs}>
		{$unidadesMensuales_value}
	</td>
{END unidadesMensuales_fieldcolumn}


	{BEGIN costoUnitarioPromedio_fieldcolumn}
	<td class="bs-gridcell {$costoUnitarioPromedio_class}"  data-field=costoUnitarioPromedio {$rowstyle} {$recordattrs}>
		{$costoUnitarioPromedio_value}
	</td>
{END costoUnitarioPromedio_fieldcolumn}


	{BEGIN programadoMensual_fieldcolumn}
	<td class="bs-gridcell {$programadoMensual_class}"  data-field=programadoMensual {$rowstyle} {$recordattrs}>
		{$programadoMensual_value}
	</td>
{END programadoMensual_fieldcolumn}


	{BEGIN disponibleMensual_fieldcolumn}
	<td class="bs-gridcell {$disponibleMensual_class}"  data-field=disponibleMensual {$rowstyle} {$recordattrs}>
		{$disponibleMensual_value}
	</td>
{END disponibleMensual_fieldcolumn}


	{BEGIN mes_fieldcolumn}
	<td class="bs-gridcell {$mes_class}"  data-field=mes {$rowstyle} {$recordattrs}>
		{$mes_value}
	</td>
{END mes_fieldcolumn}


	{BEGIN cuatrimerstre_fieldcolumn}
	<td class="bs-gridcell {$cuatrimerstre_class}"  data-field=cuatrimerstre {$rowstyle} {$recordattrs}>
		{$cuatrimerstre_value}
	</td>
{END cuatrimerstre_fieldcolumn}


	{BEGIN descripcionCuatrimestre_fieldcolumn}
	<td class="bs-gridcell {$descripcionCuatrimestre_class}"  data-field=descripcionCuatrimestre {$rowstyle} {$recordattrs}>
		{$descripcionCuatrimestre_value}
	</td>
{END descripcionCuatrimestre_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		
		{$footer}
	{END body}
	</body>
</html>
