<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="codigoInsumo">
	{$codigoInsumo_editcontrol}
	</control>
	<control 
	field="area">
	{$area_editcontrol}
	</control>
	<control 
	field="jefatura">
	{$jefatura_editcontrol}
	</control>
	<control 
	field="correlativo">
	{$correlativo_editcontrol}
	</control>
	<control 
	field="gestionSiges">
	{$gestionSiges_editcontrol}
	</control>
	<control 
	field="fechaRequisicion">
	{$fechaRequisicion_editcontrol}
	</control>
	<control 
	field="cantidadSolicitada">
	{$cantidadSolicitada_editcontrol}
	</control>
	<control 
	field="unidadDeMedida">
	{$unidadDeMedida_editcontrol}
	</control>
	<control 
	field="descripcion">
	{$descripcion_editcontrol}
	</control>
	<control 
	field="codigoPresentacion">
	{$codigoPresentacion_editcontrol}
	</control>
	<control 
	field="existenciasAlmacen">
	{$existenciasAlmacen_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
